Repository hmcts/sscs-bulk-scan, pull requests merged in 2019-01, with the labels that each got.

#115 Update main.tf
  infrastructure/main.tf
Labels: ns:sscs-bulk-scan-pr-115

#116 SSCS-4798 Fix NPE for postcodes with no Regional Processing Center
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs-bulk-scan-pr-116

#117 SSCS-4710 Warning for past excluded date
  src/functionalTest/resources/import/all_fields_entered.json
  src/functionalTest/resources/import/mrn_date_greater_than_13_months.json
  src/functionalTest/resources/import/some_mandatory_fields_missing.json
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanValidateRecordCallback.java
  src/integrationTest/resources/mappings/exception/case-creation-request.json
  src/integrationTest/resources/mappings/exception/case-non-compliant-creation-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-appellant-request.json
  src/main/java/uk/gov/hmcts/reform/sscs/constants/SscsConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/WarningMessage.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/TestDataConstants.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs-bulk-scan-pr-117

#118 Handle doc uploads past midday
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs-bulk-scan-pr-118

#119 Additional logging information
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
Labels: ns:sscs-bulk-scan-pr-119

#122 SSCS-4881 Handle dwp office field
  src/functionalTest/resources/import/all_fields_entered.json
  src/functionalTest/resources/import/mrn_date_greater_than_13_months.json
  src/functionalTest/resources/import/validate_appeal_created_case_request.json
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanValidateRecordCallback.java
  src/integrationTest/resources/mappings/exception/case-creation-request.json
  src/integrationTest/resources/mappings/exception/case-incomplete-creation-request.json
  src/integrationTest/resources/mappings/exception/case-non-compliant-creation-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-case-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-appellant-and-appointee-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-appointee-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-representative-request.json
  src/integrationTest/resources/mappings/validation/validate-interloc-appeal-created-case-request.json
  src/main/java/uk/gov/hmcts/reform/sscs/constants/SscsConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/WarningMessage.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/main/resources/schema/sscs-bulk-scan-schema.json
  src/test/java/uk/gov/hmcts/reform/sscs/TestDataConstants.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs-bulk-scan-pr-122

#121 Make title a mandatory field
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanValidateRecordCallback.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/SscsConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/WarningMessage.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs-bulk-scan-pr-121

#120 SSCS-4629 Generate tya number
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/integrationTest/resources/mappings/exception/case-creation-request.json
  src/integrationTest/resources/mappings/exception/case-incomplete-creation-request.json
  src/integrationTest/resources/mappings/exception/case-non-compliant-creation-request.json
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs-bulk-scan-pr-120

#123 SSCS-4901 Handle hearing type booleans
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanValidateRecordCallback.java
  src/integrationTest/resources/mappings/validation/validate-appeal-created-case-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-appellant-and-appointee-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-appointee-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-representative-request.json
  src/integrationTest/resources/mappings/validation/validate-interloc-appeal-created-case-request.json
  src/main/java/uk/gov/hmcts/reform/sscs/constants/SscsConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/WarningMessage.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsOcrDataUtil.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsOcrDataUtilTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs-bulk-scan-pr-123

#124 Handle empty document details
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs-bulk-scan-pr-124

#126 Validate appointee before appellant
  Jenkinsfile_CNP
  config/owasp/suppressions.xml
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
Labels: ns:sscs-bulk-scan-pr-126

#125 SSCS-4931 Gaps validation
  src/functionalTest/resources/import/all_fields_entered.json
  src/functionalTest/resources/import/mrn_date_greater_than_13_months.json
  src/functionalTest/resources/import/validate_appeal_created_case_request.json
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/integrationTest/resources/mappings/exception/case-creation-request.json
  src/integrationTest/resources/mappings/exception/case-incomplete-creation-request.json
  src/integrationTest/resources/mappings/exception/case-non-compliant-creation-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-case-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-appellant-and-appointee-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-appointee-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-representative-request.json
  src/integrationTest/resources/mappings/validation/validate-interloc-appeal-created-case-request.json
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
  src/test/resources/schema/valid_ocr_agreed.json
Labels: ns:sscs-bulk-scan-pr-125

#127 SSCS-4930 Add received via flag for robotics
  build.gradle
Labels: ns:sscs-bulk-scan-pr-127

#128 4945 Add document subtype
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/domain/ScannedRecord.java
  src/test/java/uk/gov/hmcts/reform/sscs/json/SscsJsonExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs-bulk-scan-pr-128

#129 Bump robotics common to 0.1.0
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/handler/SscsRoboticsHandlerTest.java
Labels: ns:sscs-bulk-scan-pr-129

#130 SSCS-4958 Add warning when rep name and organisation are not entered
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanValidateRecordCallback.java
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-representative-request.json
  src/main/java/uk/gov/hmcts/reform/sscs/constants/SscsConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/WarningMessage.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs-bulk-scan-pr-130

#131 Handle empty documents for robotics
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/handler/SscsRoboticsHandler.java
Labels: ns:sscs-bulk-scan-pr-131
