Repository hmcts/sscs-bulk-scan, pull requests merged in 2019-09, with the labels that each got.

#326 SSCS-6010 Use DWP office json from common to validate offices
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/resources/import/all_fields_entered.json
  src/functionalTest/resources/import/mrn_date_greater_than_13_months.json
  src/functionalTest/resources/import/validate_appeal_created_case_request.json
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/integrationTest/resources/mappings/exception/case-creation-request.json
  src/integrationTest/resources/mappings/exception/case-incomplete-creation-request.json
  src/integrationTest/resources/mappings/exception/case-non-compliant-creation-request.json
  src/integrationTest/resources/mappings/exception/valid-appeal-request.json
  src/integrationTest/resources/mappings/update-case-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-case-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-appellant-and-appointee-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-appointee-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-representative-request.json
  src/integrationTest/resources/mappings/validation/validate-interloc-appeal-created-case-request.json
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs-bulk-scan-pr-326

#329 SSCS-6385 - Use opening date as appeal creation date
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  src/integrationTest/resources/mappings/exception/case-incomplete-creation-request.json
  src/integrationTest/resources/mappings/exception/case-non-compliant-creation-request.json
  src/integrationTest/resources/mappings/exception/valid-appeal-request.json
  src/integrationTest/resources/mappings/update-case-request.json
  src/main/java/uk/gov/hmcts/reform/sscs/config/AuthServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsOcrDataUtil.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs-bulk-scan-pr-329

#349 Use cnp module key vault
  infrastructure/main.tf
Labels: ns:sscs-bulk-scan-pr-349

#344 SSCS-6476 - update sscs-common version
  build.gradle
Labels: ns:sscs-bulk-scan-pr-344

#335 SSCS-6067 Bulk scan - Duplicate cases getting created from exception …
  src/functionalTest/resources/import/all_fields_entered.json
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/helper/TestConstants.java
  src/integrationTest/resources/mappings/existing-case-details-200-response.json
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/ccd/CaseDataHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CaseDataHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/config/AuthServiceConfig.java
  src/main/java/uk/gov/hmcts/reform/sscs/handler/SscsCaseDataHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/handler/SscsCaseDataHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/bulkscan/CcdCallbackHandlerTest.java
Labels: ns:sscs-bulk-scan-pr-335

#354 SSCS-6341 Allow caseworkers to enter yes, no, true, false in boolean fields
  config/owasp/suppressions.xml
  src/functionalTest/resources/import/all_fields_entered.json
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsOcrDataUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsOcrDataUtilTest.java
Labels: ns:sscs-bulk-scan-pr-354

#351 SSCS-6454: upgrade common lib
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sscs-bulk-scan-pr-351

#350 SSCS-6201
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/SscsBulkScanFunctionalTest.java
  src/functionalTest/resources/application_e2e.yaml
  src/functionalTest/resources/import/mrn_date_greater_than_13_months.json
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/handler/InterlocReferralReasonOptions.java
  src/main/java/uk/gov/hmcts/reform/sscs/handler/SscsCaseDataHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/handler/SscsCaseDataHandlerTest.java
Labels: ns:sscs-bulk-scan-pr-350

#363 SSCS-6676 Cannot validate a Bulkscan case when Benefit type is left e…
  src/main/java/uk/gov/hmcts/reform/sscs/handler/SscsCaseDataHandler.java
Labels: ns:sscs-bulk-scan-pr-363

#365 SSCS-6678 - deserialise dates
  build.gradle
Labels: ns:sscs-bulk-scan-pr-365

#357 Sscs 6496 created in gaps from field
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/bulkscan/CcdCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs-bulk-scan-pr-357

#360 added code to link
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/main/java/uk/gov/hmcts/reform/sscs/handler/SscsCaseDataHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/handler/SscsCaseDataHandlerTest.java
Labels: ns:sscs-bulk-scan-pr-360

#368 Remove unrequired fields from values.yaml
  charts/sscs-bulk-scan/Chart.yaml
  charts/sscs-bulk-scan/values.yaml
  infrastructure/aat.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:sscs-bulk-scan-pr-368

#370 Update managed_identity_object_id value
  infrastructure/aat.tfvars
  infrastructure/prod.tfvars
Labels: ns:sscs-bulk-scan-pr-370

#373 SSCS-6699 - Dwp response cleared
  build.gradle
Labels: ns:sscs-bulk-scan-pr-373

#371 SSCS-6700 Bulk-scan functional test second time not checking the crea…
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/SscsBulkScanFunctionalTest.java
  src/functionalTest/resources/import/all_fields_entered.json
  src/functionalTest/resources/import/mrn_date_greater_than_13_months.json
  src/functionalTest/resources/import/some_mandatory_fields_missing.json
Labels: ns:sscs-bulk-scan-pr-371

#375 Set smoke test config for all tests
  Jenkinsfile_CNP
Labels: ns:sscs-bulk-scan-pr-375
