Repository hmcts/sscs-bulk-scan, pull requests merged in 2019-02, with the labels that each got.

#133 Convert empty strings to null values
  src/main/java/uk/gov/hmcts/reform/sscs/helper/OcrDataBuilder.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/OcrDataBuilderTest.java
Labels: ns:sscs-bulk-scan-pr-133

#132 SSCS-5005 Show warning when only rep title is entered
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanValidateRecordCallback.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/WarningMessage.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs-bulk-scan-pr-132

#135 Add saat and sprod config
  Dockerfile
  infrastructure/saat.tfvars
  infrastructure/sprod.tfvars
Labels: ns:sscs-bulk-scan-pr-135

#136 Set correct config for saat
  Jenkinsfile_parameterized
  infrastructure/saat.tfvars
  infrastructure/sprod.tfvars
Labels: ns:sscs-bulk-scan-pr-136

#137 Update saat and sprod config
  infrastructure/saat.tfvars
  infrastructure/sprod.tfvars
Labels: ns:sscs-bulk-scan-pr-137

#138 Sandbox config
  kubernetes/config.saat.yaml
Labels: ns:sscs-bulk-scan-pr-138

#141 SSCS-5126 Show error for unknown file extension
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs-bulk-scan-pr-141

#140 SSCS-5117 Bulk scan - ESA Appeals - Change DWP issuing office field t…
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs-bulk-scan-pr-140

#143 common library upgrade
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/SscsBulkScanFunctionalTest.java
Labels: ns:sscs-bulk-scan-pr-143

#144 Bugfix: Handle datetime from CCD
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs-bulk-scan-pr-144
