Repository hmcts/sscs-bulk-scan, pull requests merged in 2019-06, with the labels that each got.

#237 SSCS-5608 - New Bulk Scan Form
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/SscsBulkScanFunctionalTest.java
  src/integrationTest/resources/mappings/exception/case-creation-request.json
  src/integrationTest/resources/mappings/exception/case-incomplete-creation-request.json
  src/integrationTest/resources/mappings/exception/case-non-compliant-creation-request.json
  src/integrationTest/resources/mappings/exception/valid-appeal-request.json
  src/integrationTest/resources/mappings/update-case-request.json
  src/main/java/uk/gov/hmcts/reform/sscs/constants/SscsConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/WarningMessage.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsOcrDataUtil.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/main/resources/schema/sscs-bulk-scan-schema.json
  src/test/java/uk/gov/hmcts/reform/sscs/TestDataConstants.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsKeyValuePairValidatorTest.java
Labels: ns:sscs-bulk-scan-pr-237

#248 SSCS-5571 - update sscs-common version
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/BulkScanApplication.java
Labels: ns:sscs-bulk-scan-pr-248

#249 SSCS-5911 - Could not deserialize callback
  build.gradle
Labels: ns:sscs-bulk-scan-pr-249

#260 SSCS-5989 - update sscs-common version
  build.gradle
Labels: ns:sscs-bulk-scan-pr-260

#266 upgrade common libraries to use the rpc email
  build.gradle
  infrastructure/main.tf
  infrastructure/variables.tf
  src/main/resources/application.yaml
Labels: ns:sscs-bulk-scan-pr-266

#255 SSCS-5722 - Normalise nino
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/SscsBulkScanFunctionalTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/TestDataConstants.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs-bulk-scan-pr-255

#274 fix helm charts
  charts/sscs-bulk-scan/Chart.yaml
  charts/sscs-bulk-scan/values.preview.template.yaml
  charts/sscs-bulk-scan/values.yaml
Labels: ns:sscs-bulk-scan-pr-274

#271 SSCS-6030 - ignore unknown properties
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/domain/ScannedRecord.java
  src/test/java/uk/gov/hmcts/reform/sscs/json/SscsJsonExtractorTest.java
Labels: ns:sscs-bulk-scan-pr-271
