Repository hmcts/sscs-bulk-scan, pull requests merged in 2020-02, with the labels that each got.

#467 SSCS-7148 Set dwp regional center for ESA cases
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/bulkscan/CcdCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-467

#469 SSCS-6947 Move app insights key to secret
  Jenkinsfile_CNP
  charts/sscs-bulk-scan/Chart.yaml
  charts/sscs-bulk-scan/values.yaml
  infrastructure/main.tf
  src/main/resources/bootstrap.yaml
Labels: ns:sscs, rel:sscs-bulk-scan-pr-469

#470 Sscs 7145 sscs 7223 venue airlookup changes
  build.gradle
Labels: ns:sscs, rel:sscs-bulk-scan-pr-470

#473 SSCS-7270 Fix for document name extension validation issue
  Jenkinsfile_CNP
  build.gradle
  charts/sscs-bulk-scan/values.preview.template.yaml
  config/checkstyle/checkstyle.xml
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/main/java/uk/gov/hmcts/reform/sscs/handler/SscsCaseDataHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-473

#475 SSCS-7251 Tell tribunals about dates field with warning
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/SscsConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/resources/schema/sscs-bulk-scan-schema.json
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-475
