Repository hmcts/sscs-bulk-scan, pull requests merged in 2020-01, with the labels that each got.

#447 fix build
  build.gradle
  config/owasp/suppressions.xml
Labels: ns:sscs-bulk-scan-pr-447

#448 SSCS-7047 SYA – OpenID connect – Validate the IDAM token that is retu…
  build.gradle
  charts/sscs-bulk-scan/Chart.yaml
  charts/sscs-bulk-scan/values.yaml
  infrastructure/main.tf
  src/main/resources/application.yaml
Labels: ns:sscs-bulk-scan-pr-448

#452 Fixed the character issue
  infrastructure/main.tf
  src/functionalTest/resources/import/all_fields_entered.json
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/integrationTest/resources/mappings/exception/valid-appeal-request.json
  src/integrationTest/resources/mappings/update-case-request.json
Labels: ns:sscs, rel:sscs-bulk-scan-pr-452

#453 SSCS-7044 Set callback data for incomplete cases that are validated
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/bulkscan/CcdCallbackHandlerTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-453

#461 Sscs 7140 update air lookup10
  build.gradle
Labels: ns:sscs, rel:sscs-bulk-scan-pr-461

#460 Sscs 6809 support pip ae
  build.gradle
Labels: ns:sscs, rel:sscs-bulk-scan-pr-460

#465 SSCS-7131 Set DWP Regional Centre to work with filters
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/TestDataConstants.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/bulkscan/CcdCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-465

#442 Feature/sscs 6587
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/SscsBulkScanFunctionalTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/integrationTest/resources/mappings/create-case-200-response.json
  src/integrationTest/resources/mappings/exception/case-creation-request.json
  src/integrationTest/resources/mappings/exception/case-non-compliant-creation-request.json
  src/integrationTest/resources/mappings/exception/valid-appeal-request.json
  src/integrationTest/resources/mappings/update-case-request.json
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/bulkscan/CcdCallbackHandlerTest.java
Labels: ns:sscs, ns:sscs-bulk-scan-pr-442, rel:sscs-bulk-scan-pr-442
