Repository hmcts/sscs-bulk-scan, pull requests merged in 2020-03, with the labels that each got.

#486 SSCS-7320 Pass warning messages to validation service from transformation service
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/validators/CaseValidator.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/bulkscan/CcdCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-486

#487 SSCS-6344 Implement fuzzy matching for benefit type
  src/main/java/uk/gov/hmcts/reform/sscs/domain/ExactMatchList.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/FuzzyMatchList.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FuzzyMatcherService.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FuzzyMatcherServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-487

#485 Sscs 7318 bulkscan address line4 no warning
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/validators/CaseValidator.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/SscsConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/WarningMessage.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-485

#490 SSCS-7335 Fix long titles for new SSCS1 PE form
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-490

#489 SSCS-7334 Digital case bug fix for text in pip offices
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-489

#491 Clearup ASE config
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/prod.tfvars
  infrastructure/variables.tf
Labels: ns:sscs, rel:sscs-bulk-scan-pr-491

#494 Deploy AKS to demo
  Jenkinsfile_CNP
Labels: ns:sscs, rel:sscs-bulk-scan-pr-494

#497 Managed identity object for demo
  infrastructure/demo.tfvars
Labels: ns:sscs, rel:sscs-bulk-scan-pr-497

#495 SSCS-7336 Display error when invalid mobile number
  src/main/java/uk/gov/hmcts/reform/sscs/constants/WarningMessage.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-495

#499 SSCS-7338 Handle SSCS1PE form type as SSCS1 document type
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-499

#504 SSCS-6910 Validate appellant postcode
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-504
