Repository hmcts/sscs-bulk-scan, pull requests merged in 2020-09, with the labels that each got.

#646 SSCS-7806 - Processing documents for reinstatement requests
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-646

#671 Upgrade terraform
  infrastructure/.terraform-version
  infrastructure/aat.tfvars
  infrastructure/demo.tfvars
  infrastructure/main.tf
  infrastructure/prod.tfvars
  infrastructure/state.tf
  infrastructure/variables.tf
  infrastructure/versions.tf
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-671

#674 fix bulkscan terraform
  infrastructure/main.tf
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-674

#676 Add another form type for SSCS1PEU
  src/main/java/uk/gov/hmcts/reform/sscs/domain/FormType.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-676

#682 SSCS-8161: Tech debt – Fix bulk scan AppInsights
  infrastructure/main.tf
  infrastructure/variables.tf
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-682

#688 fix the security scan
  audit.json
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-688

#689 Revert "Sscs 8158 bulk scan validation update"
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/OcrValidationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallbackOld.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanValidateRecordCallback.java
  src/integrationTest/resources/mappings/exception/auto-case-incomplete-response.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-response.json
  src/integrationTest/resources/mappings/exception/case-incomplete-response.json
  src/integrationTest/resources/mappings/ocr-validation/valid-ocr-data.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-representative-request.json
  src/integrationTest/resources/mappings/validation/validate-interloc-appeal-created-case-request.json
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/domain/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/SscsConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/WarningMessage.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/TransformationController.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controllers/TransformationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTestOld.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-689

#692 SSCS-8191: Office - UC bulk scan validation
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/OcrValidationTest.java
  src/integrationTest/resources/mappings/ocr-validation/valid-ocr-data-for-uc.json
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-692

#697 Sscs 8191 uc validation
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/OcrValidationTest.java
  src/integrationTest/resources/mappings/ocr-validation/valid-ocr-data-for-uc.json
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-697

#698 Revert "Sscs 8191 uc validation"
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/OcrValidationTest.java
  src/integrationTest/resources/mappings/ocr-validation/valid-ocr-data-for-uc.json
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-698

#695 SSCS-8196 Validation on hearing phone number
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-695

#699 Revert "Check for OCR hearing subtype key if missing then ignore it"
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/OcrValidationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallbackOld.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanValidateRecordCallback.java
  src/integrationTest/resources/mappings/exception/auto-case-incomplete-response.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-response.json
  src/integrationTest/resources/mappings/ocr-validation/invalid-ocr-data-with-hearing-sub-type.json
  src/integrationTest/resources/mappings/ocr-validation/valid-ocr-data-with-hearing-sub-type.json
  src/integrationTest/resources/mappings/ocr-validation/valid-ocr-data.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-appellant-and-appointee-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-representative-request.json
  src/integrationTest/resources/mappings/validation/validate-interloc-appeal-created-case-request.json
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/domain/ExceptionRecord.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/SscsConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/WarningMessage.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/TransformationController.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsOcrDataUtil.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/controllers/TransformationControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTestOld.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-699

#696 Sscs 8193 hearing phone further transformation
  src/integrationTest/resources/mappings/validation/validate-interloc-appeal-created-case-request.json
  src/main/java/uk/gov/hmcts/reform/sscs/constants/SscsConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/WarningMessage.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-696
