Repository hmcts/sscs-bulk-scan, pull requests merged in 2020-04, with the labels that each got.

#511 Sscs 7375 sya remove pip 10
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandlerTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-511

#516 SSCS-6961 Store CCD office
  src/integrationTest/resources/mappings/exception/case-creation-request.json
  src/integrationTest/resources/mappings/exception/case-incomplete-creation-request.json
  src/integrationTest/resources/mappings/exception/case-non-compliant-creation-request.json
  src/integrationTest/resources/mappings/exception/valid-appeal-request.json
  src/integrationTest/resources/mappings/update-case-request.json
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-516

#513 SSCS-7382 Use nino for associating cases
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/main/java/uk/gov/hmcts/reform/sscs/handler/SscsCaseDataHandler.java
  src/test/java/uk/gov/hmcts/reform/sscs/handler/SscsCaseDataHandlerTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-513

#518 Sscs 7389 find ae office without brackets
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/TestDataConstants.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-518

#531 SSCS-7474 Duplication check for strategic bulk scan
  README.md
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/OcrValidationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallbackOld.java
  src/integrationTest/resources/mappings/exception/valid-appeal-response.json
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/TestDataConstants.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, rel:sscs-bulk-scan-pr-531
