Repository hmcts/sscs-bulk-scan, pull requests merged in 2021-08, with the labels that each got.

#1013 SSCS-9341 - BenefitType not found
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1013

#997 SSCS-9381:Enable fortify scan for nightly build
  Jenkinsfile_nightly
  build.gradle
  config/fortify-client.properties
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-997

#1022 SSCS-9505: PIP Benefit - PIP DWP addresses marked as 'invalid office'
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/TransformationFunctionalTest.java
  src/functionalTest/resources/exception/all_fields_pip_office_entered_aa.json
  src/functionalTest/resources/exception/output/expected_all_fields_pip_office_entered_aa.json
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsOcrDataUtil.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/util/SscsOcrDataUtilTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1022

#1021 SSCS-9508 - BSPS - dwpAddress JSON
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1021

#1025 SSCS-9507 SSCS1U similar error message fix
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/BaseTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/OcrValidationTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-response-attendance-allowance.json
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1025

#1023 SSCS-9506 - Change Benefit name to Jobseeker’s Allowance (JSA)
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/FuzzyMatcherService.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FuzzyMatcherServiceTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1023
