Repository hmcts/sscs-bulk-scan, pull requests merged in 2021-07, with the labels that each got.

#981 SSCS - 9061 - Added social fund benefit type
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelper.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-981

#984 SSCS-8924 - Income Support
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-984

#991 fix dc
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-991

#995 Fixed spring release version
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-995

#988 SSCS-9405 - Fuzzy matching of OCR'd Benefit names
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/OcrValidationTest.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/FuzzyMatcherService.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/FuzzyMatcherServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-988

#1006 SSCS-9444- UC default dwp office feature flag
  build.gradle
  src/integrationTest/resources/application_it.yaml
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1006

#1008 Sscs 9450 regional centre rfe
  build.gradle
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1008

#1014 sscs 9460 added check for null and test
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1014

#1012 SSCS-9459 Update income support rfe mapping
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1012

#1015 sscs 9470 fix test data
  src/functionalTest/resources/exception/all_fields_entered_uc.json
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1015
