Repository hmcts/sscs-bulk-scan, pull requests merged in 2021-04, with the labels that each got.

#871 SSCS-8513 - Validating a case where “Has representative” is blank
  src/functionalTest/resources/validationsscs/validate_sscs_case_request.json
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanValidateRecordCallback.java
  src/integrationTest/resources/mappings/validation/auto-validate-appeal-created-missing-appellant-and-appointee-request.json
  src/integrationTest/resources/mappings/validation/auto-validate-appeal-created-missing-appointee-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-case-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-appellant-and-appointee-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-appellant-request.json
  src/integrationTest/resources/mappings/validation/validate-appeal-created-missing-appointee-request.json
  src/integrationTest/resources/mappings/validation/validate-interloc-appeal-created-case-request.json
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/constants/SscsConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-871

#887 SSCS-8513 - sonar fix
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-887

#889 SSCS-8999: Fix Functional tests on bulk-scan nightly build
  charts/sscs-bulk-scan/values.aat.template.yaml
  charts/sscs-bulk-scan/values.preview.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-889

#890 SSCS-8999: Fix Functional tests on bulk-scan nightly build
  kubernetes/config.aat.yaml
  kubernetes/deployment.template.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-890

#877 SSCS-7662 - Bulk scan – Record what is causing warnings or errors
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandlerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-877

#894 SSCS-9037: Review how RPCs is calculated via the Airlookup file
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-894

#891 SSCS-9031 Carers allowance camel case fix
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-891

#895 SSCS-9050 - DLA - Update Welsh SSCS1 Form
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-895

#901 SSCS-9100: Investigate Fortify vulnerabilities
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsKeyValuePairValidator.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-901
