Repository hmcts/sscs-bulk-scan, pull requests merged in 2021-01, with the labels that each got.

#778 SSCS-7424 Remove old bulk scan logic
  bin/import-test-data.sh
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/BaseFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/OcrFormValidationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/SscsBulkScanFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/TransformationFunctionalTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/ValidateSscsCaseFunctionalTest.java
  src/functionalTest/resources/exception/all_fields_entered.json
  src/functionalTest/resources/exception/all_fields_entered_uc.json
  src/functionalTest/resources/exception/mrn_date_greater_than_13_months.json
  src/functionalTest/resources/exception/output/expected_all_fields_entered.json
  src/functionalTest/resources/exception/output/expected_all_fields_entered_uc.json
  src/functionalTest/resources/exception/output/expected_mrn_date_greater_than_13_months.json
  src/functionalTest/resources/exception/output/expected_mrn_date_greater_than_13_months_grounds_missing.json
  src/functionalTest/resources/exception/output/expected_some_mandatory_fields_missing.json
  src/functionalTest/resources/exception/some_mandatory_fields_missing.json
  src/functionalTest/resources/import/all_fields_entered.json
  src/functionalTest/resources/import/all_fields_entered_uc.json
  src/functionalTest/resources/import/mrn_date_greater_than_13_months.json
  src/functionalTest/resources/import/some_mandatory_fields_missing.json
  src/functionalTest/resources/validationsscs/validate_sscs_case_request.json
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallbackOld.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/ccd/CaseDataHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/domain/ExceptionCaseData.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/domain/ScannedRecord.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CaseDataHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/transformers/CaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/validators/CaseValidator.java
  src/main/java/uk/gov/hmcts/reform/sscs/controllers/CcdCallbackController.java
  src/main/java/uk/gov/hmcts/reform/sscs/handler/SscsCaseDataHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/OcrDataBuilder.java
  src/main/java/uk/gov/hmcts/reform/sscs/json/SscsJsonExtractor.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsKeyValuePairValidator.java
  src/main/resources/application.yaml
  src/smokeTest/java/uk/gov/hmcts/reform/sscs/GetSmokeCase.java
  src/smokeTest/resources/smokeRecord.json
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscancore/ccd/CaseDataHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandlerTestOld.java
  src/test/java/uk/gov/hmcts/reform/sscs/common/SampleCaseDataCreator.java
  src/test/java/uk/gov/hmcts/reform/sscs/controllers/CcdCallbackControllerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/handler/SscsCaseDataHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/OcrDataBuilderTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/OcrDataBuilderTestOld.java
  src/test/java/uk/gov/hmcts/reform/sscs/json/SscsJsonExtractorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/json/SscsJsonExtractorTestOld.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTestOld.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTestOld.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsKeyValuePairValidatorTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsKeyValuePairValidatorTestOld.java
  src/test/resources/exceptionrecord.json
  src/test/resources/validation/validate-appeal-created-case-request.json
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-778

#787 Nightly pipeline office fix
  src/functionalTest/resources/exception/output/expected_all_fields_entered.json
  src/functionalTest/resources/exception/output/expected_mrn_date_greater_than_13_months.json
  src/functionalTest/resources/exception/output/expected_mrn_date_greater_than_13_months_grounds_missing.json
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanValidateRecordCallback.java
  src/integrationTest/resources/mappings/exception/auto-case-incomplete-response.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-response.json
  src/integrationTest/resources/mappings/exception/case-incomplete-response.json
  src/integrationTest/resources/mappings/exception/case-non-compliant-response.json
  src/integrationTest/resources/mappings/exception/valid-appeal-response.json
  src/main/resources/application.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-787

#791 SSCS-8449 - default all SYA cases to be created with digital = 'Yes'
  src/functionalTest/resources/exception/output/expected_some_mandatory_fields_missing.json
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelper.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-791
