Repository hmcts/sscs-bulk-scan, pull requests merged in 2021-12, with the labels that each got.

#1118 SSCS-9777: Tribunals / Common – Change the document ordering
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1118

#1120 upgrade log4j to 2.15.0
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1120

#1124 Remove benefit types from SSCS2 schema
  src/functionalTest/resources/exception/sscs2_all_fields_entered.json
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/integrationTest/resources/mappings/ocr-validation/sscs2-invalid-ocr-data-appellant-role.json
  src/integrationTest/resources/mappings/ocr-validation/sscs2-invalid-ocr-data.json
  src/integrationTest/resources/mappings/ocr-validation/sscs2-valid-ocr-data.json
  src/main/resources/schema/sscs2-bulk-scan-schema.json
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsKeyValuePairValidatorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1124

#1127 Fix for sscs5 fuzzy match error
  build.gradle
  src/main/java/uk/gov/hmcts/reform/sscs/service/FuzzyMatcherService.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1127

#1133 SSCS-9912 Update dwp issuing office location for sscs2
  src/functionalTest/resources/exception/output/sscs2_expected_all_fields_entered.json
  src/integrationTest/resources/mappings/exception/sscs2-valid-appeal-response.json
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1133
