Repository hmcts/sscs-bulk-scan, pull requests merged in 2021-11, with the labels that each got.

#1060 SSCS-9437 Bulk scan – Upgrade org.springframework to v5.3.9
  build.gradle
  charts/sscs-bulk-scan/Chart.yaml
  charts/sscs-bulk-scan/values.yaml
  src/main/resources/application.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1060

#1094 Suppress Spring dependacy check until version is upgraded to 5.3.12
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1094

#1095 Fix unit tests
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1095

#1104 SSCS-9800: Common – Update list of venue addresses and new venue
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1104

#1110 Sscs 9802 sscs2 form status
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1110

#1103 SSCS-9790 - handle blank fields
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/util/SscsOcrDataUtil.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidator.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsCaseValidatorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1103

#1114 SSCS-9836:Common - Update all repos to point to the latest common (4.…
  build.gradle
  src/functionalTest/resources/exception/output/expected_all_fields_auto_office_ma.json
  src/functionalTest/resources/exception/output/expected_all_fields_entered.json
  src/functionalTest/resources/exception/output/expected_all_fields_entered_aa.json
  src/functionalTest/resources/exception/output/expected_all_fields_entered_uc.json
  src/functionalTest/resources/exception/output/expected_all_fields_pip_office_entered_aa.json
  src/functionalTest/resources/exception/output/expected_mrn_date_greater_than_13_months.json
  src/functionalTest/resources/exception/output/expected_mrn_date_greater_than_13_months_grounds_missing.json
  src/functionalTest/resources/exception/output/expected_some_mandatory_fields_missing.json
  src/functionalTest/resources/exception/output/sscs2_expected_all_fields_entered.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-response-attendance-allowance.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-response.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-with-appointee-response.json
  src/integrationTest/resources/mappings/exception/case-incomplete-response.json
  src/integrationTest/resources/mappings/exception/case-non-compliant-response.json
  src/integrationTest/resources/mappings/exception/sscs2-valid-appeal-response.json
  src/integrationTest/resources/mappings/exception/valid-appeal-response.json
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1114
