Repository hmcts/sscs-bulk-scan, pull requests merged in 2022-01, with the labels that each got.

#1142 Extend suppression
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1142

#1123 Upgrade log4j to 2.16.0
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1123

#1150 Add extra logging around validating against schema
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsKeyValuePairValidator.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1150

#1164 SSCS-9970 Set HmctsServiceId in supplementary data
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/TransformationFunctionalTest.java
  src/functionalTest/resources/exception/output/expected_all_fields_auto_office_ma.json
  src/functionalTest/resources/exception/output/expected_all_fields_entered.json
  src/functionalTest/resources/exception/output/expected_all_fields_entered_aa.json
  src/functionalTest/resources/exception/output/expected_all_fields_entered_uc.json
  src/functionalTest/resources/exception/output/expected_all_fields_pip_office_entered_aa.json
  src/functionalTest/resources/exception/output/expected_mrn_date_greater_than_13_months.json
  src/functionalTest/resources/exception/output/expected_mrn_date_greater_than_13_months_grounds_missing.json
  src/functionalTest/resources/exception/output/expected_some_mandatory_fields_missing.json
  src/functionalTest/resources/exception/output/sscs2_expected_all_fields_entered.json
  src/functionalTest/resources/exception/output/sscs5_expected_all_fields_entered.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-response-attendance-allowance.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-response.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-with-appointee-response.json
  src/integrationTest/resources/mappings/exception/case-incomplete-response.json
  src/integrationTest/resources/mappings/exception/case-non-compliant-response.json
  src/integrationTest/resources/mappings/exception/sscs2-valid-appeal-response.json
  src/integrationTest/resources/mappings/exception/sscs5-valid-appeal-response.json
  src/integrationTest/resources/mappings/exception/valid-appeal-response.json
  src/integrationTest/resources/mappings/ocr-validation/sscs5-valid-ocr-data.json
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/domain/transformation/SuccessfulTransformationResponse.java
  src/test/java/uk/gov/hmcts/reform/sscs/controllers/TransformationControllerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1164

#1168 Set document type for sscs2 and sscs5
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1168

#1149 Sscs 9943 wa fields
  build.gradle
  src/functionalTest/resources/exception/output/expected_all_fields_auto_office_ma.json
  src/functionalTest/resources/exception/output/expected_all_fields_entered.json
  src/functionalTest/resources/exception/output/expected_all_fields_entered_aa.json
  src/functionalTest/resources/exception/output/expected_all_fields_entered_uc.json
  src/functionalTest/resources/exception/output/expected_all_fields_pip_office_entered_aa.json
  src/functionalTest/resources/exception/output/expected_mrn_date_greater_than_13_months.json
  src/functionalTest/resources/exception/output/expected_mrn_date_greater_than_13_months_grounds_missing.json
  src/functionalTest/resources/exception/output/expected_some_mandatory_fields_missing.json
  src/functionalTest/resources/exception/output/sscs2_expected_all_fields_entered.json
  src/functionalTest/resources/exception/output/sscs5_expected_all_fields_entered.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-response-attendance-allowance.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-response.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-with-appointee-response.json
  src/integrationTest/resources/mappings/exception/case-incomplete-response.json
  src/integrationTest/resources/mappings/exception/case-non-compliant-response.json
  src/integrationTest/resources/mappings/exception/sscs2-valid-appeal-response.json
  src/integrationTest/resources/mappings/exception/sscs5-valid-appeal-response.json
  src/integrationTest/resources/mappings/exception/valid-appeal-response.json
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1149

#1153 sscs-9839 Set hearingOptions.scheduleHearing when unavailable dates p…
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1153
