Repository hmcts/sscs-bulk-scan, pull requests merged in 2022-07, with the labels that each got.

#1260 SSCS-10517 base location fix
  build.gradle
  config/owasp/suppressions.xml
  src/integrationTest/java/uk/gov/hmcts/reform/sscs/controllers/SscsBulkScanExceptionRecordCallback.java
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-response-attendance-allowance.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-response.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-with-appointee-response.json
  src/integrationTest/resources/mappings/exception/case-non-compliant-response.json
  src/integrationTest/resources/mappings/exception/sscs2-valid-appeal-response.json
  src/integrationTest/resources/mappings/exception/sscs5-valid-appeal-response.json
  src/integrationTest/resources/mappings/exception/valid-appeal-response.json
  src/main/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandler.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/AppealPostcodeHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelper.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/CaseManagementLocationService.java
  src/main/java/uk/gov/hmcts/reform/sscs/service/exception/VenueLookupException.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/test/java/uk/gov/hmcts/reform/sscs/TestDataConstants.java
  src/test/java/uk/gov/hmcts/reform/sscs/bulkscancore/handlers/CcdCallbackHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/AppealPostcodeHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelperTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/service/CaseManagementLocationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1260

#1202 sscs 10255 get ocr form type
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/TransformationFunctionalTest.java
  src/functionalTest/resources/exception/all_fields_entered_form_type_other.json
  src/functionalTest/resources/exception/all_fields_entered_invalid_form_type.json
  src/functionalTest/resources/exception/all_fields_entered_no_form_type.json
  src/functionalTest/resources/exception/all_fields_entered_ocr_form_type.json
  src/functionalTest/resources/exception/sscs2_all_fields_entered_ocr-form_type.json
  src/functionalTest/resources/exception/sscs5_all_fields_entered_ocr-form_type.json
  src/main/java/uk/gov/hmcts/reform/sscs/constants/SscsConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/FormTypeValidator.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsKeyValuePairValidator.java
  src/main/resources/schema/sscs-bulk-scan-schema.json
  src/main/resources/schema/sscs2-bulk-scan-schema.json
  src/main/resources/schema/sscs5-bulk-scan-schema.json
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/FromTypeValidatorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1202

#1290 Revert "sscs 10255 get ocr form type"
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/TransformationFunctionalTest.java
  src/functionalTest/resources/exception/all_fields_entered_form_type_other.json
  src/functionalTest/resources/exception/all_fields_entered_invalid_form_type.json
  src/functionalTest/resources/exception/all_fields_entered_no_form_type.json
  src/functionalTest/resources/exception/all_fields_entered_ocr_form_type.json
  src/functionalTest/resources/exception/sscs2_all_fields_entered_ocr-form_type.json
  src/functionalTest/resources/exception/sscs5_all_fields_entered_ocr-form_type.json
  src/main/java/uk/gov/hmcts/reform/sscs/constants/SscsConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/FormTypeValidator.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsKeyValuePairValidator.java
  src/main/resources/schema/sscs-bulk-scan-schema.json
  src/main/resources/schema/sscs2-bulk-scan-schema.json
  src/main/resources/schema/sscs5-bulk-scan-schema.json
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/SscsKeyValuePairValidatorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1290

#1291 Cardiff commons bump
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/BaseFunctionalTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1291

#1292 Sscs 10255 form type -restore
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/java/uk/gov/hmcts/reform/sscs/functional/TransformationFunctionalTest.java
  src/functionalTest/resources/exception/all_fields_entered_form_type_other.json
  src/functionalTest/resources/exception/all_fields_entered_invalid_form_type.json
  src/functionalTest/resources/exception/all_fields_entered_no_form_type.json
  src/functionalTest/resources/exception/all_fields_entered_ocr_form_type.json
  src/functionalTest/resources/exception/sscs2_all_fields_entered_ocr-form_type.json
  src/functionalTest/resources/exception/sscs5_all_fields_entered_ocr-form_type.json
  src/main/java/uk/gov/hmcts/reform/sscs/constants/SscsConstants.java
  src/main/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformer.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/FormTypeValidator.java
  src/main/java/uk/gov/hmcts/reform/sscs/validators/SscsKeyValuePairValidator.java
  src/main/resources/schema/sscs-bulk-scan-schema.json
  src/main/resources/schema/sscs2-bulk-scan-schema.json
  src/main/resources/schema/sscs5-bulk-scan-schema.json
  src/test/java/uk/gov/hmcts/reform/sscs/transformers/SscsCaseTransformerTest.java
  src/test/java/uk/gov/hmcts/reform/sscs/validators/FromTypeValidatorTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1292

#1293 SSCS-10746-cve-fix
  config/owasp/suppressions.xml
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1293

#1287 SSCS-10334 Switch casing.
  build.gradle
  config/owasp/suppressions.xml
  src/functionalTest/resources/exception/output/expected_all_fields_auto_office_ma.json
  src/functionalTest/resources/exception/output/expected_all_fields_entered.json
  src/functionalTest/resources/exception/output/expected_all_fields_entered_aa.json
  src/functionalTest/resources/exception/output/expected_all_fields_entered_uc.json
  src/functionalTest/resources/exception/output/expected_all_fields_pip_office_entered_aa.json
  src/functionalTest/resources/exception/output/expected_mrn_date_greater_than_13_months.json
  src/functionalTest/resources/exception/output/expected_mrn_date_greater_than_13_months_grounds_missing.json
  src/functionalTest/resources/exception/output/expected_some_mandatory_fields_missing.json
  src/functionalTest/resources/exception/output/sscs2_expected_all_fields_entered.json
  src/functionalTest/resources/exception/output/sscs5_expected_all_fields_entered.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-response-attendance-allowance.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-response.json
  src/integrationTest/resources/mappings/exception/auto-valid-appeal-with-appointee-response.json
  src/integrationTest/resources/mappings/exception/case-incomplete-response.json
  src/integrationTest/resources/mappings/exception/case-non-compliant-response.json
  src/integrationTest/resources/mappings/exception/sscs2-valid-appeal-response.json
  src/integrationTest/resources/mappings/exception/sscs5-valid-appeal-response.json
  src/integrationTest/resources/mappings/exception/valid-appeal-response.json
  src/main/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelper.java
  src/test/java/uk/gov/hmcts/reform/sscs/helper/SscsDataHelperTest.java
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1287

#1295 SSCS-10087 Commons Bump
  build.gradle
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1295

#1294 sscsBaseChartUpdate-Java401
  charts/sscs-bulk-scan/Chart.yaml
Labels: ns:sscs, prd:sscs, rel:sscs-bulk-scan-pr-1294
